h2 {
    background-color: #59626e;
    color: #ffffff;
  }

  li {
    list-style: none;
  }

textarea {
    resize: none;
    width: 45%;
    height: 100px;
    margin-top: 5px;
}

.title {
    font-size: 65px;
}

.box {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.box {
    width: 300px;
    margin: 50px auto -20px;
    background: #b3b6b9;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
  }

  .sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #b3b6b9;
    border-right: 10px solid transparent;
    border-top: 10px solid #b3b6b9;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
  }

  .moving-left
{
  height: 100px;
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  width: 100px;
}

.moving-left:hover
{
 transform: translateX(50px);
}

.blog_img {
    padding: 20px 0;
}

.blog_img img {
    width: 100%;
    height: 100%;
}

.blog_img .img_small {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry:hover {
    background-color: pink;
}

.entry:hover::after {
    color: white;
}

.entry_two:hover::after {
    content: " Skills You Need To Know To Become A Front End Developer In 2022";
}
.entry_one:hover::after {
    content: " What Is a Front-End Developer?";
}